<div class="toolbar">
    @if (availableCameras.length > 1) {
        <button mat-icon-button (click)="nextCamera()"><mat-icon>flip_camera_ios</mat-icon></button>
    }

    <mat-form-field style="margin-bottom:-12px;">
        <mat-label><mat-icon>videocam</mat-icon>Camera</mat-label>

        <mat-select (valueChange)="switchCamera($event)" [value]="selectedCameraId">
            @for (camera of availableCameras; track camera; let index = $index;) {
                <mat-option [value]="camera.deviceId">{{ camera.label || 'Camera ' + (index + 1) || 'Camera ' + camera.deviceId }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-slide-toggle [ngModel]="cameraReady && ! video.paused" (change)="$event.checked ? video.play() : video.pause()">Live</mat-slide-toggle>

    <div class="spacer" style="flex-grow: 1;"></div>

    <a mat-icon-button [routerLink]="['/']" class="done"><mat-icon>close</mat-icon></a>

</div>

<div class="frame-container">
    <div class="frame">
        <video #video autoplay></video>
        <canvas #canvas [width]="videoWidth" [height]="videoHeight" ></canvas>
    </div>
</div>

<div class="content">
    @if ( ! cameraReady) {
        Waiting for camera...
        <mat-progress-bar class="example-margin" mode="indeterminate" />
    } @else if ( ! faceDetected) {
        Detecting faces...
        <mat-progress-bar class="example-margin" mode="indeterminate" />
    } @else {

        <div class="rate-box">
            <mat-form-field>
                <mat-label>Attractiveness Rating</mat-label>
                <mat-select #rating>
                    <mat-option value="1">1 - Ugly</mat-option>
                    <mat-option value="2">2 - Unattractive</mat-option>
                    <mat-option value="3">3 - Average</mat-option>
                    <mat-option value="4">4 - Charming</mat-option>
                    <mat-option value="5">5 - Beautiful</mat-option>
                    <mat-option value="6">6 - Striking</mat-option>
                    <mat-option value="7">7 - Exquisite</mat-option>
                    <mat-option value="8">8 - Stunning</mat-option>
                    <mat-option value="9">9 - Breathtaking</mat-option>
                    <mat-option value="10">10 - Gorgeous</mat-option>
                </mat-select>
            </mat-form-field>

            @switch (rating.value) {
                @case (undefined) {
                    <img src="images/rate.png">
                }
                @default {
                    <img [src]="'images/rate-' + rating.value + '.png'">
                }
            }
        </div>

        @if ( rating.value !== undefined ) {
            <button mat-flat-button color="error" (click)="save(rating.value)">Save</button>
        }

        <div class="actions">
            <mat-slide-toggle [(ngModel)]="showLandmarks">Landmarks</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="showCoordinates">Coordinates</mat-slide-toggle>
        </div>

        @if ( showCoordinates ) {
            <div class="landmarks">
                @if (landmarks$ | async; as landmarks) {
                    @for (landmark of landmarks; track $index) {
                        <span>{{ landmark[0] }}</span> <span>{{ landmark[1] }}</span>
                    }
                } @else {
                    Waiting for coordinates...
                }
            </div>
        }

    }
</div>
